<div>
    <form phx-change="update-select-perpage" id="per-page" phx-target={@myself}>
        <select name="select_per_page" id="select-per-page">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>

        </select>
    </form>
</div>