<section class="menu container mx-auto py-8">
    <h1 class="text-xl font-bold mb-8">All foods</h1>
    <div class="grid grid-cols-1 mid:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 col-gap-12 row-gap-16">
        <%= for i <- 1 .. 10 do %>
        <.live_component module={Item} id={"item-" <> Integer.to_string(i)} />
        <% end %>
    </div>
</section>         
            
            